{% extends 'template.html.twig' %}

{% block stylesheet %}
  <style>
    body {
      height: initial;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="typewrite display-4 my-5" data-period="10000" data-type='["Bienvenue,", "Bonjour,"]'>Bonjour,</h1>
      <p class="typewrite lead my-5">  <!-- <p class="typewrite lead my-5" data-period="20000" data-type="des"> -->
        Je m'appelle charles Goedefroit, j'ai {{ (date("now").diff(date("1998-09-30"))).y }}ans. Je suis passionné par la science, l'électronique, l'informatique, l'astronomie, etc...
        <!-- <span class="wrap"></span> -->
      </p>
    </div>
    <h1 id="aboutMe" class="mt-4">À propos de moi</h1>
    <p>Depuis toujours je suis fasciné par le monde qui nous entoure. Je cherche à comprendre son fonctionnement.</p>
    <p>Dans cette quête de connaissance, je me suis penché très tôt sur l'électronique, en démontant mes jouets électroniques. Avec les pièces, je faisais des petits circuits et je modifier des jouées.</p>
    <p>Dès que j’ai eu un ordinateur, je me suis très vite demandé comment il fonctionne. J’ai exploré tous les fichiers et toutes les fonctionnalités de Windows puis j’ai découvert Linux et j'ai aussi voulu savoir comment il fonctionne.</p>
    <p>Dans toutes mes recherches, j’ai découvert la programmation et je me suis mis à apprendre le JAVA, l’HTML, le PHP puis le JavaScript en autodidacte.</p>
    <p>Après le bac, je me suis dirigée vers le BTS SIO (Service Informatique aux Organisation) pour en savoir plus. J’ai consolidé mes connaissances en programmation objets et j’ai appris comment organiser mes projets. J’ai également appris à utiliser des outils très pratique comme MERISE ou UML. Pour finir, j’ai découvert des langage, des protocole et des logiciels lors de ces études et des période de stage.</p>
    <p>je compte poursuivre mes études en licence</p>

    <h1 id="skills" class="mt-4">Mes compétences</h1>

    <div class="row">
      <div class="col-md-5 mr-md-auto my-4">
        <h4 class="col-12 text-center">Langage / technologie web côté <span style="white-space: nowrap;">serveur :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/nodejs.svg" alt="Nodejs" title="Nodejs" height="48">
          </div>
          <!-- <div class="p-2">
            <img class="mb-2" src="/img/icons/JavaScript.svg" alt="JavaScript" title="JavaScript" height="48">
          </div> -->
          <div class="p-2">
            <img class="mb-2 my-4" src="/img/icons/express-js.png" alt="Express" title="Express" width="64">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/php.png" alt="PHP" title="PHP" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/symfony.png" alt="Symfony4 / Symfony3" title="Symfony4 / Symfony3" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/slim.png" alt="Slim Framework" title="Slim Framework" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/twig.png" alt="Twig" title="Twig" height="48">
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-md-auto my-4">
        <h4 class="col-12 text-center">Langage / technologie web côté <span style="white-space: nowrap;">client :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/html5.png" alt="HTML5" title="HTML5" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/css3.png" alt="CSS3" title="CSS3" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/sass.png" alt="Sass" title="Sass" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/bootstrap.png" alt="Bootstrap" title="Bootstrap" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/bulma.svg" alt="Bulma" title="Bulma" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/font-awesome.png" alt="Fontawesome" title="Fontawesome" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/angular.png" alt="Angular" title="Angular" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/TypeScript.png" alt="TypeScript" title="TypeScript" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/JavaScript.svg" alt="JavaScript" title="JavaScript" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/jquery.png" alt="jQuery" title="jQuery" height="48">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mr-md-auto my-4">
        <h4 class="col-12 text-center">Gestion, modélisation & technologie de gestion de <span style="white-space: nowrap;">données :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/sql.png" alt="SQL" title="SQL" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/mysql.png" alt="MySQL" title="MySQL" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/PostgreSQL.png" alt="PostgreSQL" title="PostgreSQL" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/restful.png" alt="API Rest" title="API Rest" height="48">
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-md-auto my-4">
        <h4 class="col-12 text-center">Développement d'applications et <span style="white-space: nowrap;">logiciels :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/java.png" alt="java" title="java" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/csharp.png" alt="C#" title="C#" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/c.png" alt="C" title="C" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/lua.png" alt="lua" title="lua" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/python.png" alt="Python" title="Python" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/androidSDK.png" alt="Android SDK" title="Android SDK" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/dotnet.png" alt="dotNet" title="dotNet" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/wpforms.svg" alt="Wpf" title="Wpf" height="48">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-4">
        <h4 class="col-12 text-center">Environnements de <span style="white-space: nowrap;">développement :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/vscode.png" alt="VisualStudio Code" title="VisualStudio Code" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/atom.png" alt="Atom" title="Atom" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/phpstorm.png" alt="Phpstorm" title="Phpstorm" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/androidStudio.png" alt="AndroidStudio" title="AndroidStudio" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/VisualStudio.png" alt="VisualStudio" title="VisualStudio" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Eclipse.png" alt="Eclipse" title="Eclipse" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Git.png" alt="Git" title="Git" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Docker.png" alt="Docker" title="Docker" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/traefik.png" alt="Traefik" title="Traefik" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/VMware.png" alt="VMware" title="VMware" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Chromium.png" alt="Chromium" title="Chromium" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/GSuite.png" alt="GSuite" title="GSuite" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/LaTeX.png" alt="LaTeX" title="LaTeX" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/github.png" alt="Github" title="Github" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Gitlab.png" alt="Gitlab" title="Gitlab" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Postman.png" alt="Postman" title="Postman" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Trello.png" alt="Trello" title="Trello" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/innoSetup.png" alt="innoSetup" title="innoSetup" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/FileZilla.svg" alt="FileZilla" title="FileZilla" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/cmake.png" alt="Cmake" title="Cmake" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Composer.png" alt="Composer" title="Composer" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/npm.png" alt="Npm" title="Npm" height="48">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 my-4">
        <h4 class="col-12 text-center">Systèmes <span style="white-space: nowrap;">d'exploitation :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/tux.png" alt="Linux" title="Linux" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/Windows.png" alt="Windows" title="Windows" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/android.png" alt="Android" title="Android" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/macosx.png" alt="Macosx" title="MacOSX" height="48">
          </div>
        </div>
      </div>
      <div class="col-lg-4 mx-md-auto my-4">
        <h4 class="col-12 text-center">Administration systèmes et <span style="white-space: nowrap;">réseau :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/SSH.png" alt="SSH" title="SSH" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/network.jpeg" alt="Réseau (ipv4, ipv6, DNS)" title="Réseau (ipv4, ipv6, DNS)" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/ciscoPacketTracer.png" alt="Réseau (ipv4, ipv6, DNS)" title="Cisco Packet Tracer" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/apache.png" alt="Apache" title="Apache" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/ubuntu.png" alt="Debian / Ubuntu" title="Debian / Ubuntu" height="48">
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-4">
        <h4 class="col-12 text-center"><span style="white-space: nowrap;">Autre :</span></h4>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="p-2">
            <img class="mb-2" src="/img/icons/SEO.png" alt="SEO" title="SEO" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/formatfile.png" alt="JSON / XML / CSV" title="JSON / XML / CSV" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/bash.png" alt="bash" title="bash" height="48">
          </div>
          <div class="p-2">
            <img class="mb-2" src="/img/icons/powershell.png" alt="powershell" title="powershell / batch" height="48">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="/js/txtType.js" charset="utf-8"></script>
{% endblock %}
