{% extends 'template.html.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bonjour,</h1>
    <p class="typewrite" class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

  <h1>À propos de moi</h1>

{% endblock %}
