{% extends 'template.html.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}
  <h1>Contacté moi sur l'address email <a href="mailto:contact@magicorp.fr">contact@magicorp.fr</a></h1>
{% endblock %}
