{% extends 'template.html.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}
  <h1>Contacté moi sur l'address email <a href="mailto:contact@magicorp.fr">contact@magicorp.fr</a></h1>
  <a href="https://github.com/charles66820">Mon github</a>
  <a href="https://twitter.com/charles66500">Mon twitter</a>
{% endblock %}
