<!DOCTYPE html>
<html class="h-100">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/icons/tux.png" />

  <title>{% if title %}{{ title }}{% else %}Default page title{% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style media="screen">
  .navbar-toggler-icon {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
  }
  body {
    height: 100%;
  }
  </style>
  {% block stylesheet %}{% endblock %}
</head>
<body class="d-flex w-100">
  <div id="loading" class="bg-white h-100 w-100 position-fixed justify-content-center align-items-center" style="z-index:2000;display:-ms-flexbox;display:flex">
    <div  class="spinner-border text-info" style="width: 4rem; height: 4rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="d-flex h-100 w-100 mx-auto flex-column">
    <header class="navbar navbar-expand-sm p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm position-sticky fixed-top">
      <h5 class="my-0 mr-md-auto font-weight-normal navbar-brand">Portfolio</h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto my-2 my-md-0 mr-md-3">
          <li class="nav-item active">
            <a class="p-2 text-dark" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark" href="E6">Épreuve E6</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark" href="E4">Épreuve E4</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark" href="/projects">Projets</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark" href="/contact">Contact</a>
          </li>
        </ul>
        <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
      </div>
    </header>

    <main class="container mb-auto">
      {% block content %}{% endblock %}
    </main>

    <footer class="container mt-auto pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/icons/tux.png" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">© 2019-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Présentation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/about#aboutMe">À propos de moi</a></li>
            <li><a class="text-muted" href="/about#skills">Mes compétences</a></li>
            <li><a class="text-muted" href="/about#">oui</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Projets</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/projects">Mes projets</a></li>
            <hr>
            <li><a class="text-muted" href="/project/1">PPE</a></li>
            <li><a class="text-muted" href="/project/2">Stage</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>A propos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/contact">Contact</a></li>
            <li><a class="text-muted" href="http://magicorp.fr">Magicorp</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block javascripts %}{% endblock %}
  <script type="text/javascript">
    window.onload = function() {
      $('#loading').hide();
    }
  </script>
</body>
</html>
