{% extends 'template.html.twig' %}

{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Veille technologique</h1>
  </div>

  <iframe src="//www.pearltrees.com/charles66820/veille-technologique/id24584097?embed=2&d=201903312131" height="604" style="width:100%;border:0px" allowtransparency="true"></iframe><span style="display:block; padding-top:2px; color:#818181; font-size:13px;"><a href="http://www.pearltrees.com/charles66820/veille-technologique/id24584097" style=" color:#818181; font-size:13px;" target="_blank" rel="nofollow">Veille technologique</a>, by <a href="http://www.pearltrees.com/charles66820" style=" color:#818181; font-size:13px;" target="_blank">charles66820</a></span>

{% endblock %}
